#root {
  width: 100vw;
  margin: 0 auto;
}

.App {
  height: 100vh;
}

.playlist-item-icon:hover {
  cursor: pointer;
  color: #ebebd3;
}

.filter-collapse h3 {
  font-size: var(--nextui-fontSizes-md);
}

.filter-collapse span {
  font-size: var(--nextui-fontSizes-md);
}

.PlayerRSWP {
  bottom: 0;
  position: fixed;
  z-index: 1001;
}

.PlayerRSWP button {
  margin: 0.5em 0;
}
