#root {
  width: 100vw;
  margin: 1rem auto;
}

.App {
  height: calc(100vh - 76px);
}

.play-icon:hover {
  cursor: pointer;
  color: #ebebd3;
}

.filter-collapse h3 {
  font-size: var(--nextui-fontSizes-md);
}

.filter-collapse span {
  font-size: var(--nextui-fontSizes-md);
}
